# Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=flight_delays

# Schemas
POSTGRES_DATABASE_SCHEMAS=

# Pipeline
RAW_DATA_PATH=data/raw/

# Superset
SUPERSET_SECRET_KEY=
SUPERSET_ADMIN_PASSWORD=
