# =========================
# Datos
# =========================

# Archivos fuente de datos
data/raw/

# =========================
# Credenciales
# =========================

.env

# =========================
# Entorno virtual
# =========================

.venv/

# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo

.pytest_cache/
.ruff_cache/

# =========================
# Sistema operativo
# =========================

.DS_Store

# =========================
# Visual Studio Code
# =========================
.vscode
src/logs/
